# Unity Generated Folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
.vscode/
.idea/

# Ignore Bee Artifacts
**/[Bb]ee/

# Ignore large build output files
*.so
*.dbg.so

# 忽略 Unity 自动生成的 csproj 和 solution 文件
*.csproj
*.sln
*.unityproj
*.user
*.userprefs